{{ range $upstream := lsdir "/services" }}
upstream {{ base $upstream }} {
    {{$server := printf "/services/%s/*" $upstream}}{{range gets $server}}
    server {{ .Value }};
    {{end}}
}
{{ end }}

server {
  listen 80;
  server_name ~^(?P<app_domain>.+)\.core\.twnel\.com;

  location / {
    proxy_pass http://$app_domain;
    proxy_redirect off;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
}
