{{ $cluster := (getenv "CLUSTER") }}

{{ range $upstream := lsdir (printf "/skydns/local/%s/tcp" $cluster) }}
{{$server := (printf "/skydns/local/%s/tcp/%s/*" $cluster $upstream)}}
upstream {{ base $upstream }}.tcp {
    hash $remote_addr consistent;
    {{range gets $server}}
    server {{$data := json .Value}}{{$data.host}}:{{$data.port}};
    {{end}}
}
# {{ printf "/skydns/local/port/%s" (base $upstream) }}
server {
    listen *:{{ getv (printf "/skydns/local/stream/port/%s" (base $upstream)) }};
    proxy_pass {{ base $upstream }}.tcp;
}
{{ end }}
